 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #1e4496;
    color: #ecf0f1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

header h1 {
    font-style: italic;
}

header nav a {
    margin: 12px;
    font-size: 1em;
    color: #ecf0f1;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}


section {
    padding: 32px;
}

section h2 {
    margin-bottom: 16px;
    color: #1e4496;
    font-style: italic;
}

hr {
    border: 1px solid #1e4496;
    margin-bottom: 32px;
}

section p {
    margin-top: 26px;
    font-size: 1em;
    margin-bottom: 26px ;
}

.store-front {
    margin-right: 32px;
    margin-bottom: 32px;
    width: 420px;
    height: 420px;

}

#produtos {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.produtos {
    display: flex;
}

article img {
    width: 310px;
    height: 310px;
    margin-bottom: 24px;
}

.produtos button {
    background-color: #4362a3;
    height: 36px;
    width: 310px;
    color: #ecf0f1;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    header {
        width: 100%;
    }

    header h1 {
        font-style: italic;
        font-size: 40px;
        margin-left: 60px;
    }
    
    header nav a {
        font-size: 22px;
        text-align: left;
        display: block;
        margin-right: 150px;
    }

    section .container {
        display: block;
    }

    hr {
        border: 1px solid #1e4496;
        margin-bottom: 32px;
    }

    #linha {
        margin-right: 60px;
    }

    section p {
        margin-top: 24px;
        font-size: 14px;
    }

    .store-front {
        width: 100%;
        height: 576px;
    }

    #produtos {
        margin-left: 24px;
    }

    article {
        width: 330px;
        height: 500px;
        margin-left: 124px;
    }
    
    article img {
        width: 320px;
        height: 320px;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .produtos {
        display: block;
    }

}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .produtos {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 32px;
        padding: 32px 84px;
    }

    .produtos button {
        margin-bottom: 16px;
    }

    header h1 {
        margin-left: 36px;
    }

    header nav {
        margin-right: 36px;
    }

    .store-front {
        width: 100%;
        height: 576px;
    }

    section .container {
    display: block;   
    }
    
    #produtos h2 {
        margin-left: 32px;
    }

    #linha {
        margin-left: 32px;
        margin-right: 32px;
    }

    article p {
        padding: 0 12px;
    }
}